@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-texto: #fff;
  --tamanho-texto: 1.25rem;
  --tamanho-h1: 3.5rem;
  --tamanho-h2: 2.5rem;
  --fonte-corpoTexto: 'Hind Madurai';
  --pesoFonte-corpoTexto: 300;
  --fonte-titulo: 'Montserrat';
  --bg-sectionPadrao: #5F95BA;
  --tamanho-section: 90%;
}

* {
  /* Zerar estilo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}