header {
  width: 100%;
  background-color: #5f95ba;
  height: 7.6rem;
}

header div {
  width: var(--tamanho-section);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  width: 350px;
}

.logo {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links nav a {
}

.nav-links {
  color: var(--cor-texto);
  font-family: var(--fonte-corpoTexto);
  text-decoration: none;
  font-size: var(--tamanho-texto);
  font-weight: var(--pesoFonte-corpoTexto);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-links:focus,
.nav-links:hover {
  color: #fff;
}

.nav-links:focus:after,
.nav-links:hover:after {
  width: 100%;
  left: 0%;
}

.nav-links:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
