:root{
    --button-color: #053a77;
    --button-hover: #072F51;
    --txt-color: #f8f8ff;
    --txt-hover: #fff;
}

.button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: inherit;
    position: relative;
    display: inline-block;
    border-radius: .8rem;

    overflow: hidden;
    background: var(--button-color);
    color: var(--txt-color);
   }
   
   .button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    font-family: var(--fonte-corpoTexto);
    font-weight: var(--pesoFonte-corpoTexto);

   }
   
   .button:hover span {
    color: var(--txt-hover);
   }
   
   .button::before,
   .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .button::before {
    content: "";
    background: var(--button-hover);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   